version: "3"
networks: 
  nw01: 
    driver: bridge 
    
services: 
  app: 
    image: pravsp/blogcontroller:latest
    depends_on:
      - db
    links:
      - db  
    ports: 
      - 7000:8080
    networks: 
      - nw01      
    container_name: team8_brc
    environment:
      - "JAVA_OPTS=-Dmongo.host=db"

  db:
    image: mongo
    container_name: mongodb 
    ports:
      - 27017:27017 
