  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 100px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    /*background-color: #4CAF50;*/
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.headline {
background-color: #B03C55;
color: greenyellow;
padding: 14px 20px;
padding: 100px;
width: 100%;

}
.footline {
background-color: #B03C55;
color: greenyellow;
padding: 5px 5px;
padding: 100px;
width: 100%;
height: 6px;

}
/* Extra styles for the cancel button */
.signupbtn_n {
    float: right;
    width: 100%;
    font-size: 14px;
    margin-left: 100px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: right;
    width: 100%;
}

/* Add padding to container elements */
.container {
    padding: 100px;
}

.container_button {
    margin: 200px;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}